# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    include /etc/nginx/conf.d/*.conf;

    # Redirect HTTP to HTTPS
    server {
        listen       80;
        return 301 https://$host$request_uri;
    }

    # Internal TLS configuration.
    server {
        listen       443 ssl;
        server_name  {{ ansible_fqdn }};

        ssl_certificate "{{ mqtt_broker_tls_cert }}";
        ssl_certificate_key "{{ mqtt_broker_tls_key }}";
        ssl on;
        ssl_session_cache shared:SSL:10m;
        ssl_session_timeout  1h;
        ssl_ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:AES256-GCM-SHA384:AES256-SHA256!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!CBC:!EDH:!kEDH:!PSK:!SRP:!kECDH;
        ssl_prefer_server_ciphers on;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        location / {
            proxy_pass                          http://localhost:8080/;
            proxy_set_header Host               $http_host;
            proxy_set_header X-Real-IP          $remote_addr;
            proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto  $scheme;
#            auth_ldap                           "Closed content"
#            auth_ldap_servers                   ipa1
            # Authentication method is BasicAuth
            auth_basic                          "Username and Password Required";
            auth_basic_user_file                /etc/nginx/.htpasswd;
            # If request is coming from local network, allow unauth, otherwise auth is required
            satisfy                             any;
            allow                               {{ ansible_default_ipv4.network }}/24;
            deny                                all;
        }

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }
}
