{% raw %}
# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
# If not interactive, do nothing
[ -z "[\u@\h \W]\$ " ] && return

HISTSIZE=100000
shopt -s histappend
export HISTTIMEFORMAT="{%F %a %T}  "

# Set root prompt
if [ $(hostname -f | grep -c '.qa') -eq 1 ]; then
  export PS1="\[\033[0;36m\]\u@\h\[\033[0;36m\][\w] #\[\033[0m\] "
elif [ $(hostname -f | grep -c '.lab') -eq 1 ]; then
  export PS1="\[\033[0;33m\]\u@\h\[\033[0;33m\][\w] #\[\033[0m\] "
else
  export PS1="\[\033[0;31m\]\u@\h\[\033[0;32m\][\w] #\[\033[0m\] "
fi
{% endraw %}
