=========================================================================

                           System: {{ motd_system }}
                      Environment: {{ motd_sys_env }}
                             Role: {{ motd_role }}
                         Platform: {{ ansible_product_name }}

=========================================================================
