=========================================================================

                           System: {{ system }}
                      Environment: {{ sys_env }}
                             Role: {{ role }}
                         Platform: {{ ansible_product_name }}

=========================================================================
