receiver="{{ adsb_fr24feed_receiver }}"
fr24key="{{ adsb_fr24feed_key }}"
host="{{ adsb_fr24feed_receiver_address }}:30005"
bs="{{ adsb_fr24feed_bs_output }}"
raw="{{ adsb_fr24feed_raw_output }}"
logmode="2"
logpath="/var/log/fr24feed"
mlat="yes"
mlat-without-gps="yes"
