version: '3.3'

services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    links:
      - prometheus
    ports:
      - "3000:3000"
    volumes:
      - {{ docker_persistent_store_root }}/config/grafana.ini:/etc/grafana/grafana.ini
      - {{ docker_persistent_store_root }}/data/grafana:/var/lib/grafana

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    links:
      - alertmanager
      - node-exporter
    ports:
      - "{{ docker_ext_prometheus_port }}:9090"
    volumes:
      - {{ docker_persistent_store_root }}/config/prometheus.yml:/etc/prometheus/prometheus.yml
      - {{ docker_persistent_store_root }}/config/nodeexporter:/etc/prometheus/nodeexporter
      - {{ docker_persistent_store_root }}/config/rules:/etc/prometheus/rules
      - {{ docker_persistent_store_root }}/data/prometheus:/prometheus

  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    restart: always
    ports:
      - "{{ docker_ext_alertmanager_port }}:9093"
    volumes:
      - {{ docker_persistent_store_root }}/data/alertmanager:/alertmanager

  node-exporter:
    privileged: true
    image: prom/node-exporter
    container_name: node-exporter
    restart: always
    ports:
      - "{{ docker_ext_nodeexporter_port }}:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.ignored-mount-points"
      - "^/(rootfs/)?(dev|etc|host|proc|run|sys|volume1)($$|/)"
