[Unit]
After=network.service

[Service]
Type=simple
PIDFile=/var/run/ser2net.pid
ExecStart=/usr/local/bin/ser2net.sh
User=root
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
